<div class="container">
    <div class="intro">
        <h2 class="text-center">REVIEWS </h2>
        <p class="text-center">Our customers love us! Read what they say about us.</p>
    </div>
    <div class="row people">
        <div class="col-md-6 col-lg-4 item">
            <div class="box">
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque odit doloribus ex fugit, iure incidunt pariatur dolorem quis veritatis ipsam assumenda ad accusamus cumque, suscipit fugiat ab quibusdam dolore minima dolores? Ab aperiam delectus facilis omnis tenetur, eveniet dicta velit, distinctio error</p>
            </div>
            <div class="author"><img class="rounded-circle" src="./assets/homepics/feedback.jfif">
                <h5 class="name">ROSY</h5>
                <p class="title">Super Bride</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 item">
            <div class="box">
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum veniam accusantium iste illo, fugiat quisquam fuga blanditiis beatae sequi molestiae? Explicabo dignissimos sapiente reiciendis non possimus voluptas voluptates, modi illum maiores consequatur dolore totam excepturi blanditiis? Architecto, ullam eos! Quis?.</p>
            </div>
            <div class="author"><img class="rounded-circle" src="./assets/homepics/feedback2.jfif">
                <h5 class="name">KARLA</h5>
                <p class="title">Founder of Style Co.</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 item">
            <div class="box">
                <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat blanditiis soluta commodi distinctio saepe quibusdam dicta labore eius, quam architecto beatae molestiae, aperiam alias? Aliquam consequuntur aliquid commodi nulla sint architecto, saepe, autem, perferendis dicta eius laboriosam atque asperiores voluptatum quia aut voluptatibus facilis! Omnis deserunt accusantium consequuntur? Quos, officia..</p>
            </div>
            <div class="author"><img class="rounded-circle" src="./assets/homepics/feedback3.png">
                <h5 class="name">JOHN</h5>
                <p class="title">Owner of Creative Ltd.</p>
            </div>
        </div>
    </div>
    <div class="row people">
        <div class="col-md-6 col-lg-4 item">
            <div class="box">
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque odit doloribus ex fugit, iure incidunt pariatur dolorem quis veritatis ipsam assumenda ad accusamus cumque, suscipit fugiat ab quibusdam dolore minima dolores? Ab aperiam delectus facilis omnis tenetur, eveniet dicta velit, distinctio error</p>
            </div>
            <div class="author"><img class="rounded-circle" src="./assets/homepics/feedback4.png">
                <h5 class="name">SAMEKSHA</h5>
                <p class="title">Super Bride</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 item">
            <div class="box">
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum veniam accusantium iste illo, fugiat quisquam fuga blanditiis beatae sequi molestiae? Explicabo dignissimos sapiente reiciendis non possimus voluptas voluptates, modi illum maiores consequatur dolore totam excepturi blanditiis? Architecto, ullam eos! Quis?.</p>
            </div>
            <div class="author"><img class="rounded-circle" src="./assets/homepics/feedback5.jfif">
                <h5 class="name">AYESHA</h5>
                <p class="title">BIRTHDAY GIRL</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 item">
            <div class="box">
                <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat blanditiis soluta commodi distinctio saepe quibusdam dicta labore eius, quam architecto beatae molestiae, aperiam alias? Aliquam consequuntur aliquid commodi nulla sint architecto, saepe, autem, perferendis dicta eius laboriosam atque asperiores voluptatum quia aut voluptatibus facilis! Omnis deserunt accusantium consequuntur? Quos, officia..</p>
            </div>
            <div class="author"><img class="rounded-circle" src="./assets/homepics/feedback6.jfif">
                <h5 class="name">RISHI</h5>
                <p class="title">BIRTHDAY BOY</p>
            </div>
        </div>
    </div>
</div>

