<div>
    <h1 class="heading">GALLERY</h1>
</div>
<div class="container">
    <div class="box">
      <img src="./assets/homepics/birthday.jfif">
      <span>BIRTHDAY </span>
    </div><div class="box">
        <img src="./assets/homepics/birthday2.jfif">
        <span>BIRTHDAY</span>
      </div>
    <div class="box">
      <img src="./assets/homepics/decoration2.jfif">
      <span>WEDDING</span>
    </div>
    <div class="box">
        <img src="./assets/homepics/decoration1.jfif">
        <span>WEDDINGt</span>
      </div>
    <div class="box">
      <img src="./assets/homepics/socialevents.jfif">
      <span>SOCIAL EVENT</span>
    </div>
    <div class="box">
      <img src="./assets/homepics/coorporate.jfif">
      <span>COOPORATE MEETING</span>
    </div>
    <div class="box">
        <img src="./assets/homepics/coorporate2.jfif">
        <span>COOPORATE MEETING</span>
      </div>
      
  </div>



  <!--gallery 2-->

  
  