<header>
	<h1></h1>
</header>
<div class="wrapper">
	<div class="gallery">
		<ul>
			<li><img src="./assets/homepics/birthday.jfif"></li>
			<li><img src="./assets/homepics/birthday2.jfif"></li>
			<li><img src="./assets/homepics/decoration1.jfif"></li>
			<li><img src="./assets/homepics/decoration2.jfif"></li>
			<li><img src="./assets/homepics/socialevents.jfif"></li>
			<li><img src="./assets/homepics/coorporate.jfif"></li>
			<li><img src="./assets/homepics/coorporate2.jfif"></li>
			<li><img src="./assets/homepics/logo.jfif"></li>
			<li><img src="./assets/homepics/birthday4.jpg"></li>
			<li><img src="./assets/homepics/dinner.jfif"></li>
			<li><img src="./assets/homepics/rings.jpg"></li>
			<li><img src="./assets/homepics/wedding.jpg"></li>
		</ul>
	</div>
	<p class="attribution">"LIFE IS AN EVENT.MAKE IT MEMORABLE" </p>
</div>


